In [48]:
docA = "tôi là sinh viên trường tự nhiên"
docB = "hôm nay các bạn sinh viên đến trường"

In [49]:
wordsA = docA.split()
wordsB = docB.split()

In [50]:
wordsA

['tôi', 'là', 'sinh', 'viên', 'trường', 'tự', 'nhiên']

In [51]:
wordsB

['hôm', 'nay', 'các', 'bạn', 'sinh', 'viên', 'đến', 'trường']

In [52]:
wordSet = set(wordsA).union(set(wordsB))

In [53]:
wordSet

{'bạn',
 'các',
 'hôm',
 'là',
 'nay',
 'nhiên',
 'sinh',
 'trường',
 'tôi',
 'tự',
 'viên',
 'đến'}

In [54]:
wordDictA = dict.fromkeys(wordSet, 0) 
wordDictB = dict.fromkeys(wordSet, 0)

In [55]:
wordDictA

{'bạn': 0,
 'các': 0,
 'hôm': 0,
 'là': 0,
 'nay': 0,
 'nhiên': 0,
 'sinh': 0,
 'trường': 0,
 'tôi': 0,
 'tự': 0,
 'viên': 0,
 'đến': 0}

In [56]:
for word in wordsA:
    wordDictA[word]+=1
    
for word in wordsB:
    wordDictB[word]+=1

In [57]:
wordDictA

{'bạn': 0,
 'các': 0,
 'hôm': 0,
 'là': 1,
 'nay': 0,
 'nhiên': 1,
 'sinh': 1,
 'trường': 1,
 'tôi': 1,
 'tự': 1,
 'viên': 1,
 'đến': 0}

In [69]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB])

   tôi  tự  đến  nay  các  sinh  viên  trường  hôm  là  bạn  nhiên
0    1   1    0    0    0     1     1       1    0   1    0      1
1    0   0    1    1    1     1     1       1    1   0    1      0

In [59]:
def computeTF(wordDict, words):
    tfDict = {}
    wordsCount = len(words)
    for word, count in wordDict.items():
        tfDict[word] = count/float(wordsCount)
    return tfDict

In [60]:
tfdocA = computeTF(wordDictA, wordsA)
tfdocB = computeTF(wordDictB, wordsB)

In [61]:
pd.DataFrame([tfdocA, tfdocB])

,tôi,tự,đến,nay,các,sinh,viên,trường,hôm,là,bạn,nhiên
0,0.142857,0.142857,0.000,0.000,0.000,0.142857,0.142857,0.142857,0.000,0.142857,0.000,0.142857
1,0.000000,0.000000,0.125,0.125,0.125,0.125000,0.125000,0.125000,0.125,0.000000,0.125,0.000000

In [62]:
tfdocB

{'bạn': 0.125,
 'các': 0.125,
 'hôm': 0.125,
 'là': 0.0,
 'nay': 0.125,
 'nhiên': 0.0,
 'sinh': 0.125,
 'trường': 0.125,
 'tôi': 0.0,
 'tự': 0.0,
 'viên': 0.125,
 'đến': 0.125}

In [63]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [64]:
idfs = computeIDF([wordDictA, wordDictB])

In [65]:
pd.DataFrame([idfs])

,tôi,tự,đến,nay,các,sinh,viên,trường,hôm,là,bạn,nhiên
0,0.30103,0.30103,0.30103,0.30103,0.30103,0.0,0.0,0.0,0.30103,0.30103,0.30103,0.30103

In [66]:
def computeTFIDF(tfDocs, idfs):
    tfidf = {}
    for word, val in tfDocs.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [67]:
tfidfDocA = computeTFIDF(tfdocA, idfs)
tfidfDocB = computeTFIDF(tfdocB, idfs)

In [68]:
import pandas as pd
pd.DataFrame([tfidfDocA, tfidfDocB])

,tôi,tự,đến,nay,các,sinh,viên,trường,hôm,là,bạn,nhiên
0,0.043004,0.043004,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.043004,0.000000,0.043004
1,0.000000,0.000000,0.037629,0.037629,0.037629,0.0,0.0,0.0,0.037629,0.000000,0.037629,0.000000